# Original Code for scoring private condominium data -- only quantity score.

Ansel Lim

1 November 2021

Given URA dataset (private residential property transactions; https://www.ura.gov.sg/maps/api/#private-residential-property-transactions) as well as other datasets (taxi stands, primary schools, mrt, hawker, carparks, bus stops, chas clinics, sports facilities, community centers), calculate the NUMBER of each of these places within a specified RADIUS (e.g. 1 kilometer) from each property.

In [3]:
# Specify radius in kilometers
RADIUS=1.0

In [4]:
from datetime import datetime
import pandas as pd
from geopy.distance import geodesic
import re
import time

In [5]:
timestamp=datetime.now().strftime("%d/%m/%Y %H:%M:%S")
print(timestamp) # GMT

03/11/2021 12:55:50

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [7]:
%cd /content/gdrive/MyDrive/6242_PROJECT/data

/content/gdrive/MyDrive/6242_PROJECT/data

In [8]:
%ls

amenities.csv              eating-establishments.kml
bus_stops.csv              general-information-of-schools.csv
carparks.csv               listing-of-supermarkets.csv
data-download.png          processed/
data_hawker.csv            secondary_schools.csv
data_hawker.gsheet         secondary_schools.gsheet
data_malls.csv             supermarkets.csv
data_MRT.csv               taxi_stands.csv
data_prischools.csv        ura.csv
data_prischools.gsheet     ura_join_bus_stops.csv
eating_establishments.csv

In [9]:
# somewhere in sentosa cove
lat1=1.242440985
long1=103.8367552
sentosa = (lat1,long1)

# alexandra view condominium near redhill
lat2=1.290030671
long2=103.8171853
redhill = (lat2,long2)

In [10]:
geodesic(sentosa,redhill).km

5.695136317712519

In [35]:
ura = pd.read_csv("./ura.csv")
malls = pd.read_csv("./data_malls.csv")
taxi_stands = pd.read_csv("./taxi_stands.csv")
primary_schools=pd.read_csv("./data_prischools.csv")
mrt = pd.read_csv("./data_MRT.csv")
hawker=pd.read_csv("./data_hawker.csv")
carparks=pd.read_csv("./carparks.csv")
bus_stops = pd.read_csv("./bus_stops.csv")
amenities = pd.read_csv("./amenities.csv")
supermarkets = pd.read_csv("./supermarkets.csv")
secondary_schools=pd.read_csv("./secondary_schools.csv")
eating_establishments=pd.read_csv("./eating_establishments.csv")
parks = pd.read_csv("./parks.csv")

In [12]:
df = ura.copy(deep=True)

In [13]:
taxi_stands["lat"],taxi_stands["long"] = taxi_stands["Latitude"],taxi_stands["Longitude"]
primary_schools[['long','lat']]=primary_schools['coordinates'].str.split(',',1,expand=True)
mrt[['long','lat']]=mrt['Coordinates'].str.split(',',1,expand=True)
hawker[['long','lat']]=hawker['Coordinates'].str.split(',',1,expand=True)
hawker['lat']=hawker['lat'].str.rstrip(",0.0")
carparks['lat'],carparks['long']=carparks['latitude'],carparks['longitude']
bus_stops['lat'],bus_stops['long']=bus_stops['Latitude'],bus_stops['Longitude']

In [14]:
# amenities['coordinates'] = amenities["geometry"].str.replace(r"[a-zA-Z()]",'')

In [15]:
hawker

      ID       Category  ...              long               lat
0      1  Hawker Centre  ...  103.938732580554  1.33198706861747
1      2  Hawker Centre  ...  103.818338919994  1.28733076703987
2      3  Hawker Centre  ...  103.828994204342  1.37238494002145
3      4  Hawker Centre  ...  103.866737484646   1.3631571201113
4      5  Hawker Centre  ...  103.837031803823  1.35200744198417
..   ...            ...  ...               ...               ...
114  121  Hawker Centre  ...   103.71844754363  1.34964224318434
115  122  Hawker Centre  ...  103.884130183315  1.30739616009942
116  123  Hawker Centre  ...  103.800696448529  1.43993283228134
117  124  Hawker Centre  ...  103.906338526157  1.30228513841822
118  125  Hawker Centre  ...  103.915761950557  1.30577514781108

[119 rows x 8 columns]

In [16]:
def getLatLong(x):
  coordinates = x['coordinates']
  lat,long=re.findall('[0-9.]+', coordinates)[:2] # get first pair of coordinates (because some geometries are polygons)
  return (long,lat)

In [17]:
# getLatLong(amenities.loc[0,:])

In [18]:
# amenities[['lat','long']] = amenities.apply(getLatLong,axis=1,result_type='expand')

In [19]:
amenities

                                          facility_name  ...        long
0                                    CHEN FAMILY CLINIC  ...  103.872312
1                                          CHENG CLINIC  ...  103.855967
2                          CHEONG FAMILY CLINIC PTE LTD  ...  103.850825
3                                 CHEONG MEDICAL CLINIC  ...  103.773330
4                                  CHERN MEDICAL CLINIC  ...  103.945588
...                                                 ...  ...         ...
1476  Sports SG Sports Hall/Stadium/Gym Bukit Batok ...  ...  103.753000
1477             Sports SG Stadium Bedok North Street 2  ...  103.938076
1478  Sports SG Squash Centre/Tennis Centre Burghley...  ...  103.860543
1479  Sports SG Swimming Complex/Sports Hall/Stadium...  ...  103.748633
1480             Sports SG Stadium Fourth Chin Bee Road  ...  103.719373

[1481 rows x 5 columns]

In [20]:
amenities.facility_type.value_counts()

CHAS Clinic                                                                      1167
Gym                                                                               160
Community Centre                                                                  120
Swimming Complex                                                                    6
Swimming Complex/Sports Hall/Stadium/Gym                                            4
Stadium                                                                             3
Swimming Complex/Sports Hall/Stadium/Tennis Centre/Gym                              2
Field/Tennis Centre                                                                 2
Sports Hall/Stadium/Gym                                                             2
Swimming Complex/Sports Hall/Gym                                                    2
Swimming Complex/Stadium                                                            2
Swimming Complex/Sports Hall/Gym/Hockey Pitch                                       2
Swimming Complex/Sports Hall/Stadium/Tennis Centre/Squash Centre/Gym                1
Swimming Complex/ Stadium                                                           1
Swimming Complex/Sports Hall/Tennis Centre/Gym                                      1
Field                                                                               1
Practice Track/Field/Tennis Centre/Squash Centre/Netball Centre/Lawn Bowl           1
Swimming Complex/Sports Hall/Stadium/Gym/Gateball & Petanque Courts                 1
Squash Centre/Tennis Centre                                                         1
Swimming Complex/Sports Hall/Stadium/Futsal Court/Tennis Centre/Gym                 1
Sports Hall/Stadium/Swimming Complex/Tennis Centre/Squash Centre/Hockey Pitch       1
Name: facility_type, dtype: int64

In [21]:
sports_facility_types = list(amenities.facility_type.unique())
sports_facility_types.remove('CHAS Clinic')
sports_facility_types.remove('Community Centre')

In [22]:
chas_clinics = amenities[amenities['facility_type']=='CHAS Clinic'].reset_index()
sports_facilities = amenities[amenities['facility_type'].isin(sports_facility_types)].reset_index()
community_centers = amenities[amenities['facility_type']=='Community Centre'].reset_index()

In [23]:
chas_clinics

      index                      facility_name  ...       lat        long
0         0                 CHEN FAMILY CLINIC  ...  1.369951  103.872312
1         1                       CHENG CLINIC  ...  1.367479  103.855967
2         2       CHEONG FAMILY CLINIC PTE LTD  ...  1.315596  103.850825
3         3              CHEONG MEDICAL CLINIC  ...  1.340549  103.773330
4         4               CHERN MEDICAL CLINIC  ...  1.345505  103.945588
...     ...                                ...  ...       ...         ...
1162   1162              ZENITH MEDICAL CLINIC  ...  1.405154  103.897805
1163   1163                  Zam Family Clinic  ...  1.390951  103.743525
1164   1164                 banyan clinic @ jw  ...  1.350501  103.718335
1165   1165           i.Medical & i.Aesthetics  ...  1.427903  103.836178
1166   1166  iCare Medical and Wellness Clinic  ...  1.288746  103.828824

[1167 rows x 6 columns]

In [24]:
places = [malls,taxi_stands,primary_schools,mrt,hawker,carparks,bus_stops,chas_clinics,sports_facilities,community_centers,supermarkets,secondary_schools,eating_establishments,parks]
places_names = ['malls','taxi_stands','primary_schools','mrt','hawker','carparks','bus_stops','chas_clinics','sports_facilities','community_centers','supermarkets','secondary_schools','eating_establishments','parks']

In [25]:
assert len(places)==len(places_names)

In [26]:
# places=[hawker] #uncomment if testing only on hawker
# places_names=['hawker']

In [27]:
# places=[chas_clinics] #uncomment if testing only on chas clinics
# places_names=['chas_clinics']

In [28]:
# places=[sports_facilities] #uncomment if testing only on sports facilities
# places_names=['sports_facilities']

In [29]:
sports_facilities

     index  ...        long
0     1287  ...  103.844202
1     1288  ...  103.795898
2     1289  ...  103.850922
3     1290  ...  103.862091
4     1291  ...  103.859571
..     ...  ...         ...
189   1476  ...  103.753000
190   1477  ...  103.938076
191   1478  ...  103.860543
192   1479  ...  103.748633
193   1480  ...  103.719373

[194 rows x 6 columns]

# Calculate number of places of interest within radius, for each property -- except eating_establishments and parks.

In [30]:
start=time.time()
for i in range(len(places)):
  dataframe = places[i]
  place_name = places_names[i]
  print("Working on feature dataframe {}".format(place_name))
  new_column_name = "num_"+place_name
  df[new_column_name] = 0
  for i in range(df.shape[0]):
    lat1 = df.loc[i,"lat"]
    long1 = df.loc[i,"long"]
    origin = (lat1,long1)
    counter = 0
    for j in range(dataframe.shape[0]):
      lat2 = dataframe.loc[j,"lat"]
      long2 = dataframe.loc[j,"long"]
      dest = (lat2,long2)
      dist = geodesic(origin,dest).km
      if dist<=RADIUS:
        counter+=1
    df.loc[i,new_column_name]=counter
end=time.time()
print("time taken: {}".format(end-start))

Working on feature dataframe malls
Working on feature dataframe taxi_stands
Working on feature dataframe primary_schools
Working on feature dataframe mrt
Working on feature dataframe hawker
Working on feature dataframe carparks
Working on feature dataframe bus_stops
Working on feature dataframe chas_clinics
Working on feature dataframe sports_facilities
Working on feature dataframe community_centers
Working on feature dataframe supermarkets
Working on feature dataframe secondary_schools
Working on feature dataframe eating_establishments

KeyError: ignored

In [ ]:
df.to_csv('./processed/df.csv')

# Run section for eating_establishments and parks, without re-running already completed sections.

In [32]:
eating_establishments

       Unnamed: 0       Name  ...         lon          business_name
0               0      kml_1  ...  103.857676                    OMU
1               1      kml_2  ...  103.857676  Unknown business name
2               2      kml_3  ...  103.857676  Unknown business name
3               3      kml_4  ...  103.858506                  PPUDO
4               4      kml_5  ...  103.858506  Unknown business name
...           ...        ...  ...         ...                    ...
34373       34373  kml_34374  ...  103.895103  Unknown business name
34374       34374  kml_34375  ...  103.893593  Unknown business name
34375       34375  kml_34376  ...  103.742586  Unknown business name
34376       34376  kml_34377  ...  103.887857  Unknown business name
34377       34377  kml_34378  ...  103.887857  Unknown business name

[34378 rows x 7 columns]

In [33]:
eating_establishments_=eating_establishments.rename(columns={'lon':'long'})
places = [eating_establishments_]
places_names= ['eating_establishments_']
start=time.time()
for i in range(len(places)):
  dataframe = places[i]
  place_name = places_names[i]
  print("Working on feature dataframe {}".format(place_name))
  new_column_name = "num_"+place_name
  df[new_column_name] = 0
  for i in range(df.shape[0]):
    lat1 = df.loc[i,"lat"]
    long1 = df.loc[i,"long"]
    origin = (lat1,long1)
    counter = 0
    for j in range(dataframe.shape[0]):
      lat2 = dataframe.loc[j,"lat"]
      long2 = dataframe.loc[j,"long"]
      dest = (lat2,long2)
      dist = geodesic(origin,dest).km
      if dist<=RADIUS:
        counter+=1
    df.loc[i,new_column_name]=counter
end=time.time()
print("time taken: {}".format(end-start))

Working on feature dataframe eating_establishments_
time taken: 13446.645763158798

In [34]:
df.to_csv('./processed/df.csv')

In [ ]:
eating_establishments_=eating_establishments.rename(columns={'lon':'long'})
places = [eating_establishments_]
places_names= ['eating_establishments_']
start=time.time()
for i in range(len(places)):
  dataframe = places[i]
  place_name = places_names[i]
  print("Working on feature dataframe {}".format(place_name))
  new_column_name = "num_"+place_name
  df[new_column_name] = 0
  for i in range(df.shape[0]):
    lat1 = df.loc[i,"lat"]
    long1 = df.loc[i,"long"]
    origin = (lat1,long1)
    counter = 0
    for j in range(dataframe.shape[0]):
      lat2 = dataframe.loc[j,"lat"]
      long2 = dataframe.loc[j,"long"]
      dest = (lat2,long2)
      dist = geodesic(origin,dest).km
      if dist<=RADIUS:
        counter+=1
    df.loc[i,new_column_name]=counter
end=time.time()
print("time taken: {}".format(end-start))

In [36]:

places = [parks]
places_names= ['parks']
start=time.time()
for i in range(len(places)):
  dataframe = places[i]
  place_name = places_names[i]
  print("Working on feature dataframe {}".format(place_name))
  new_column_name = "num_"+place_name
  df[new_column_name] = 0
  for i in range(df.shape[0]):
    lat1 = df.loc[i,"lat"]
    long1 = df.loc[i,"long"]
    origin = (lat1,long1)
    counter = 0
    for j in range(dataframe.shape[0]):
      lat2 = dataframe.loc[j,"lat"]
      long2 = dataframe.loc[j,"long"]
      dest = (lat2,long2)
      dist = geodesic(origin,dest).km
      if dist<=RADIUS:
        counter+=1
    df.loc[i,new_column_name]=counter
end=time.time()
print("time taken: {}".format(end-start))

Working on feature dataframe parks
time taken: 140.69643354415894

In [37]:
df.to_csv('./processed/df.csv')