In [1]:
import sqlite3
import pandas as pd

# Create your connection.
cnx = sqlite3.connect('database.db')

# read into df
df = pd.read_sql_query("SELECT * FROM properties", cnx)

In [8]:
# num_clinic: <=10,10<x<=20, more than 20
# num_community_center: 0,1,2,>=3
# num_gym: <=2, 2-5, more than 6
# num_hawker_center: 0-2, 2<x<=4, more than 4
# num_mall: 0-2, 2<x<=4, more than 4

bins = [0, 1, 10, 20, 99]
labels = [0, 0.333, 0.667, 1]
df['num_clinic'] = pd.cut(df['raw_num_clinic'], right=False, bins=bins, labels=labels)

bins = [0, 1, 2, 3, 99]
labels = [0, 0.333, 0.667, 1]
df['num_community_center'] = pd.cut(df['raw_num_community_center'], right=False, bins=bins, labels=labels)

bins = [0, 1, 2, 6, 99]
labels = [0, 0.333, 0.667, 1]
df['num_gym'] = pd.cut(df['raw_num_gym'], right=False, bins=bins, labels=labels)

bins = [0, 1, 2, 4, 99]
labels = [0, 0.333, 0.667, 1]
df['num_mall'] = pd.cut(df['raw_num_mall'], right=False, bins=bins, labels=labels)


# 'raw_num_other_public_sports_facility'	1, >=2
# 'raw_num_park'	1,2,3,>=4
# 'raw_num_primary_school'	1,2,3,>=4
# 'raw_num_secondary_school'	1,2,3,>=4
# 'raw_num_supermarket'	1-3,4-5,6-7,>=8
 
bins = [0, 1, 2, 99]
labels = [0, 0.5, 1]
df['num_other_public_sports_facility'] = pd.cut(df['raw_num_other_public_sports_facility'], right=False, bins=bins, labels=labels)

bins = [0, 1, 2, 3, 4, 99]
labels = [0, 0.25, 0.5, 0.75, 1]
df['num_park'] = pd.cut(df['raw_num_park'], right=False, bins=bins, labels=labels)
df['num_primary_school'] = pd.cut(df['raw_num_primary_school'], right=False, bins=bins, labels=labels)
df['num_secondary_school'] = pd.cut(df['raw_num_secondary_school'], right=False, bins=bins, labels=labels)

bins = [0, 1, 4, 6, 8, 99]
labels = [0, 0.25, 0.5, 0.75, 1]
df['num_supermarket'] = pd.cut(df['raw_num_supermarket'], right=False, bins=bins, labels=labels)


# Carpark: 0,1,2,3-9,>=10
# MRT: 0,1,2,3,4,>= 5
# Taxi: 0,1,2,3,4,>= 5
# Eating establishment: 0 ,1 - 125,126 - 250,251 - 375,376 - 500,Above 500
# 'raw_num_carpark', 'raw_num_mrt', 'raw_num_taxi_stand', 'raw_num_eating_establishment'

bins = [0, 1, 2, 3, 10, 99]
labels = [0, 0.25, 0.5, 0.75, 1]
df['num_carpark'] = pd.cut(df['raw_num_carpark'], right=False, bins=bins, labels=labels)

bins = [0, 1, 2, 3, 4, 5, 99]
labels = [0, 0.2, 0.4, 0.6, 0.8, 1]
df['num_mrt'] = pd.cut(df['raw_num_mrt'], right=False, bins=bins, labels=labels)
df['num_taxi_stand'] = pd.cut(df['raw_num_taxi_stand'], right=False, bins=bins, labels=labels)

bins = [0, 1, 125, 250, 375, 500, 9999]
labels = [0, 0.2, 0.4, 0.6, 0.8, 1]
df['num_eating_establishment'] = pd.cut(df['raw_num_eating_establishment'], right=False, bins=bins, labels=labels)

cols = ['raw_num_carpark', 'num_carpark', 'raw_num_clinic', 'num_clinic', 'raw_num_community_center', 'num_community_center',
       'raw_num_eating_establishment', 'num_eating_establishment', 'raw_num_gym', 'num_gym', 'raw_num_hawker_center', 'num_hawker_center',
       'raw_num_mall', 'num_mall', 'raw_num_mrt', 'num_mrt', 'raw_num_other_public_sports_facility', 'num_other_public_sports_facility',
       'raw_num_park', 'num_park', 'raw_num_primary_school', 'num_primary_school', 'raw_num_secondary_school', 'num_secondary_school',
       'raw_num_supermarket', 'num_supermarket', 'raw_num_taxi_stand', 'num_taxi_stand']
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

# df[cols]
# df.head()

,index,project_id,condo_street,project,condo_market_segment,lat,long,price_per_sqm,district,condo_commonest_tenure,...,raw_quality_clinic,raw_quality_community_center,raw_quality_gym,raw_quality_hawker_center,raw_quality_mall,raw_quality_other_public_sports_facility,raw_quality_park,raw_quality_primary_school,raw_quality_secondary_school,raw_quality_supermarket
0,0,0,COVE DRIVE,TURQUOISE,CCR,1.242441,103.836755,15570.333697,4,99 yrs lease commencing from 2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.981268
1,1,1,ALEXANDRA VIEW,ARTRA,RCR,1.290031,103.817185,19221.824435,3,99 yrs lease commencing from 2016,...,3.477267,4.116921,3.599159,4.074771,NaN,4.180695,4.044473,4.263577,4.004608,3.983223
2,2,2,YONG SIAK STREET,RESIDENTIAL APARTMENTS,RCR,1.282506,103.830272,16778.801843,3,9999 yrs lease commencing from 1963,...,3.477341,4.117224,3.584058,4.061565,4.070548,NaN,4.038773,4.263294,3.878009,3.980127
3,3,3,BEACH ROAD,CITY GATE,RCR,1.302348,103.862260,20725.023997,7,99 yrs lease commencing from 2014,...,3.472546,4.140389,3.584523,4.076526,4.066214,4.183965,4.038042,4.262950,NaN,3.986791
4,4,4,OCEAN DRIVE,THE COAST AT SENTOSA COVE,CCR,1.245289,103.843546,16626.204339,4,99 yrs lease commencing from 2006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.981268

In [3]:
# overwrite existing db
df.to_sql(name='properties', index=False, if_exists='replace', con=cnx)